{%extends 'layout.html'%}

{%block body%}

<form action="/update/{{contact.0}}" method="POST">

    <input type="number" name = 'id' placeholder="id" size=10 value = '{{contact.0}}'>
    <input type="text" class="tex" name = 'barcode' placeholder="barcode" value = '{{contact.1}}'>
    <input type="text" class="tex" name = 'esp' placeholder="esp" size="10" value = '{{contact.2}}'>
    <input type="number" class="tex" name = 'quantity' placeholder="quantity" size="5" value = '{{contact.3}}'>
    <input type="number" class="tex" name = 'weight' placeholder="weight" size=10 value = '{{contact.4}}'>
    <input type="number" class="tex" name = 'ratio' placeholder="ratio" size="10" value = '{{contact.5}}'>
    <input type="date" name = 'traslado' placeholder="traslado" value = '{{contact.6}}'>
    <input type="date" name = 'pre_ensamble' placeholder="pre_ensamble" value = '{{contact.7}}''>
    <input type="date" name = 'montaje' placeholder="montaje" value = '{{contact.8}}'>
    <input type="date" name = 'torque' placeholder="torque" value = '{{contact.9}}'>
    <input type="date" name = 'punch' placeholder="punch" value = '{{contact.10}}'>
    
    <button type="submit">Save</button>
</form>

{%endblock%}